.footer{
    background-color: #353535;
    color: white;
    padding: 1em;

    p{
        margin: 0;
    }
    &__ul{
        padding: 0 2em;
    }
    &__li{
        cursor: pointer;
        list-style-type: none;
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        
        a{
        color: inherit;
        text-decoration: none;
        }

        &__icon{
            margin-right: 1em;
        }
        .fa-hands-helping{
            width: 0.8em;
        }
    }

    &_logo{
        margin-top: 0.5em;
        margin-left: 2em;
        fill: white;
        svg{
            width: 7em;
        }
    }
}

@media all and (min-width: 768px){
    
.footer{
    display: flex;
&__ul{
    display: flex;
}
&__li{
    padding-right: 1em;
}
.footer_logo{
    margin-right: auto;
}

    }

}
