$prim-clr: #9356DC;
$sec-clr: #FF79DA;
$tert-clr: #99E2D0;
$icon-gray-clr: #686868;
$darken-gray-clr: #c7c7c7;
$medium-gray-clr : #EAEAEA;
$light-gray-clr:#F6F6F6;
$footer-clr:#353535;
$grad-clr: linear-gradient(#ff79da, #9356dc);
$font-size: 12px ;
$card-shaddow : 0em .2em 0.6em rgb(212, 212, 212);
$delay: 300ms ;