@-webkit-keyframes loading {
  0% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 100;
  }
  70% {
    opacity: 100;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.loader {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-animation: loading 1s both;
          animation: loading 1s both;
  z-index: 10;
}

.loader div {
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin 1.3s linear 3;
          animation: spin 1.3s linear 3;
}

.loader div:nth-child(2) {
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin2 1.3s linear 3 both;
          animation: spin2 1.3s linear 3 both;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  position: relative;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em;
  -webkit-box-shadow: 0em 0.2em 0.4em #c7c7c7;
          box-shadow: 0em 0.2em 0.4em #c7c7c7;
  position: relative;
}

header .header__return {
  display: none;
}

.search__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  margin: 0px;
}

.search__location__marker {
  padding-right: 1em;
}

.search__hero {
  background-color: #F6F6F6;
  padding: 2em;
  text-align: center;
}

.search__hero h1 {
  margin: 0;
}

.search__hero a {
  display: inline-block;
  text-decoration: none;
  margin-top: .6em;
  padding: 0.6em 1em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(#ff79da, #9356dc);
  background-position: top;
  border-radius: 2em;
  color: white;
}

.instruction {
  margin-top: 2em;
}

.instruction__title {
  margin: 0.7em;
}

.instruction__wraper {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.instruction__wraper .wraper__number {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em 0.6em;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  z-index: 1;
}

.instruction__wraper .wraper__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .8em;
  -webkit-box-shadow: 0em 0.2em 0.6em #d4d4d4;
          box-shadow: 0em 0.2em 0.6em #d4d4d4;
  background-color: #F6F6F6;
  margin-left: -0.7em;
  padding: 0 2em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.instruction__wraper .wraper__info .wraper__info__icon {
  color: #686868;
  margin-right: 1em;
}

.instruction__wraper .wraper__info:hover {
  background-color: rgba(147, 86, 220, 0.5);
}

.instruction__wraper .wraper__info:hover .wraper__info__icon {
  color: #9356DC;
}

.result {
  background-color: #F6F6F6;
  margin-top: 3em;
  padding: 1em;
}

.result__card {
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0em 0.2em 0.6em #d4d4d4;
          box-shadow: 0em 0.2em 0.6em #d4d4d4;
  border-radius: 1.5em;
  overflow: hidden;
  margin-bottom: 2em;
}

.result__card__banner {
  position: relative;
}

.result__card__banner__img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.result__card__banner__label {
  background-color: #99E2D0;
  border-radius: 0.2em;
  padding: .5em 1em;
  color: #2c9c81;
  font-weight: 700;
  position: absolute;
  top: 1em;
  right: 1em;
}

.result__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.result__card__info h3 {
  margin: 0;
  padding: 0;
}

.result__card__info__icon .fa-heart {
  font-size: 2em;
}

.result__card__info__icon .heart1 {
  display: none;
}

.result__card__info__icon .heart2 {
  display: inline-block;
}

.result__card__info__icon:hover .heart1 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  color: transparent;
}

.result__card__info__icon:hover .heart2 {
  display: none;
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1em;
}

.footer p {
  margin: 0;
}

.footer__li {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.footer__li__icon {
  margin-right: 1em;
}

.footer__li .fa-hands-helping {
  width: 0.8em;
}

.footer_logo {
  fill: white;
  width: 7em;
}
/*# sourceMappingURL=style.css.map */