/* loader animation */
@-webkit-keyframes loading {
  0% {
    opacity: 100;
    z-index: 10;
  }
  70% {
    opacity: 50;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes loading {
  0% {
    opacity: 100;
    z-index: 10;
  }
  70% {
    opacity: 50;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 8px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 8px;
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

@keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    border-width: 8px;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border-width: 1px;
  }
}

/* menu card slide up*/
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "roboto", sans-serif;
  position: relative;
}

.loader {
  height: 100%;
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  -webkit-animation: loading 1s both;
          animation: loading 1s both;
}

.loader div {
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-top-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin 1.3s linear 3;
          animation: spin 1.3s linear 3;
}

.loader div:nth-child(2) {
  width: 100px;
  height: 100px;
  border: 8px solid transparent;
  border-bottom-color: #9356DC;
  border-radius: 50%;
  position: absolute;
  -webkit-animation: spin2 1.3s linear 3 both;
          animation: spin2 1.3s linear 3 both;
}

.loader img {
  width: 70px;
  position: absolute;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  padding-top: 0.6em;
  -webkit-box-shadow: 0em 0.2em 0.4em #c7c7c7;
          box-shadow: 0em 0.2em 0.4em #c7c7c7;
  position: relative;
}

.header__return {
  display: none;
}

.search__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #EAEAEA;
  margin: 0px;
}

.search__location input {
  border: none;
  background-color: transparent;
}

.search__location input:focus {
  outline: none;
}

.search__location input::-webkit-input-placeholder {
  outline: none;
}

.search__location input:-ms-input-placeholder {
  outline: none;
}

.search__location input::-ms-input-placeholder {
  outline: none;
}

.search__location input::placeholder {
  outline: none;
}

.search__location__marker {
  margin-left: 3em;
  padding-right: 1em;
}

.search__location__markerinfo {
  padding: 1em 0;
}

.search__hero {
  background-color: #F6F6F6;
  padding: 2em;
  text-align: center;
}

.search__hero h1 {
  margin: 0;
}

.search__hero a {
  display: inline-block;
  text-decoration: none;
  margin-top: .6em;
  padding: 0.6em 1em;
  background-position: top;
  border-radius: 2em;
  color: white;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff58d0), to(#7a3dc5));
  background-image: linear-gradient(#ff58d0, #7a3dc5);
  -webkit-box-shadow: 0em 0.1em 0.3em #b3b3b3;
          box-shadow: 0em 0.1em 0.3em #b3b3b3;
  -webkit-transition: background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
  transition: background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, background-image 200ms ease-in;
  transition: box-shadow 300ms ease-in-out, background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
}

.search__hero a:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0em 0.2em 0.4em #666666;
          box-shadow: 0em 0.2em 0.4em #666666;
}

.instruction {
  margin-top: 2em;
}

.instruction__title {
  margin: 0.7em;
}

.instruction__wraper {
  margin: 0 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em 0;
}

.instruction__wraper .wraper__number {
  background-color: #9356DC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3em 0.6em;
  color: white;
  border-radius: 50%;
  font-size: 0.8em;
  z-index: 1;
}

.instruction__wraper .wraper__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: .8em;
  -webkit-box-shadow: 0em 0.2em 0.6em #d4d4d4;
          box-shadow: 0em 0.2em 0.6em #d4d4d4;
  background-color: #F6F6F6;
  margin-left: -0.7em;
  padding: 0 2em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.instruction__wraper .wraper__info .wraper__info__icon {
  color: #686868;
  margin-right: 1em;
}

.instruction__wraper .wraper__info:hover {
  background-color: rgba(147, 86, 220, 0.5);
}

.instruction__wraper .wraper__info:hover .wraper__info__icon {
  color: #9356DC;
}

.result {
  background-color: #F6F6F6;
  margin-top: 3em;
  padding: 1em;
}

.result__card {
  color: inherit;
  text-decoration: none;
  display: block;
  cursor: pointer;
  background-color: white;
  -webkit-box-shadow: 0em 0.2em 0.6em #d4d4d4;
          box-shadow: 0em 0.2em 0.6em #d4d4d4;
  border-radius: 1.5em;
  overflow: hidden;
  margin-bottom: 2em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.result__card__banner {
  position: relative;
}

.result__card__banner__img {
  height: 15em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom;
     object-position: bottom;
}

.result__card__banner__img2 {
  -o-object-position: center;
     object-position: center;
}

.result__card__banner__label {
  background-color: #99E2D0;
  border-radius: 0.2em;
  padding: .5em 1em;
  color: #2c9c81;
  font-weight: 700;
  position: absolute;
  top: 1em;
  right: 1em;
}

.result__card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

.result__card__info h3 {
  margin: 0;
  padding: 0;
}

.result__card__info__icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result__card__info__icon .fa-heart {
  font-size: 2em;
}

.result__card__info__icon .heart1 {
  position: absolute;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff58d0), to(#7a3dc5));
  background-image: linear-gradient(#ff58d0, #7a3dc5);
  background-clip: text;
  color: transparent;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.result__card__info__icon .heart2 {
  position: absolute;
  opacity: 1;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
}

.result__card__info__icon:hover .heart1 {
  opacity: 1;
}

.result__card__info__icon:hover .heart2 {
  opacity: 0;
}

@media all and (min-width: 900px) {
  .instruction {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .instruction__wraper {
    width: 60%;
  }
  .result {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .result__title {
    display: block;
  }
  .result__card__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 2em;
    width: 100%;
  }
  .result__card {
    margin: 1em;
  }
}

.header_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.5em;
  padding-top: 0.6em;
  -webkit-box-shadow: 0em 0.2em 0.4em #c7c7c7;
          box-shadow: 0em 0.2em 0.4em #c7c7c7;
  position: relative;
}

.header_mobile a:visited {
  color: inherit;
}

.header_mobile .header__return {
  display: inline-block;
  position: absolute;
  font-size: 1.6em;
  left: 2em;
  top: 0.6em;
  margin: 0;
  padding: 0;
}

.hero__img {
  width: 100%;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  background-color: #F6F6F6;
  margin-top: -50px;
  padding-bottom: 3em;
  z-index: 1;
  position: relative;
  border-radius: 3em 3em 0 0;
}

.menu h1 {
  margin: 0;
  font-family: "Shrikhand", sans-serif;
}

.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em 2em .5em 1em;
  margin: 0;
}

.menu__info__icon .fa-heart {
  font-size: 1.5em;
}

.menu__info__icon .heart1 {
  display: none;
}

.menu__info__icon .heart2 {
  display: inline-block;
}

.menu__info__icon:hover .heart1 {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff58d0), to(#7a3dc5));
  background: linear-gradient(#ff58d0, #7a3dc5);
  background-clip: text;
  color: transparent;
}

.menu__info__icon:hover .heart2 {
  display: none;
}

.menu__category {
  margin: 1em;
}

.menu__category__title {
  margin: 0;
  margin-bottom: .2em;
  font-weight: 300;
  font-size: 1.2em;
}

.menu__category__line {
  display: block;
  height: 2px;
  width: 3em;
  background-color: #99E2D0;
}

.menu .menu__item:nth-child(1) {
  -webkit-animation-delay: 80ms;
          animation-delay: 80ms;
}

.menu .menu__item:nth-child(2) {
  -webkit-animation-delay: 160ms;
          animation-delay: 160ms;
}

.menu .menu__item:nth-child(3) {
  -webkit-animation-delay: 240ms;
          animation-delay: 240ms;
}

.menu__item {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
  border-radius: 1em;
  -webkit-box-shadow: 0em 0.2em 0.6em #d4d4d4;
          box-shadow: 0em 0.2em 0.6em #d4d4d4;
  overflow: hidden;
  -webkit-animation: slideUp 900ms ease-in-out 1;
          animation: slideUp 900ms ease-in-out 1;
  cursor: pointer;
}

.menu__item__info {
  padding: .6em;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.menu__item__info p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu__item__info h3, .menu__item__info p {
  padding: 0;
  margin: 0;
}

.menu__item__info h3 {
  margin-bottom: .4em;
}

.menu__item__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item__price {
  width: 4em;
  margin-left: auto;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: .6em;
}

.menu__item__checkmark {
  width: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #99E2D0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out;
}

.menu__item__checkmark .fa-check-circle {
  font-size: 1.5em;
  color: white;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.menu__item:hover .menu__item__checkmark {
  width: 4em;
}

.menu__item:hover .menu__item__checkmark .fa-check-circle {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.menu__meals {
  margin-bottom: 2em;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3em;
}

.btn__order {
  text-decoration: none;
  color: white;
  border-radius: 3em;
  padding: .6em 2em;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff58d0), to(#7a3dc5));
  background-image: linear-gradient(#ff58d0, #7a3dc5);
  -webkit-box-shadow: 0em 0.1em 0.3em #b3b3b3;
          box-shadow: 0em 0.1em 0.3em #b3b3b3;
  -webkit-transition: background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
  transition: background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out, background-image 200ms ease-in;
  transition: box-shadow 300ms ease-in-out, background-image 200ms ease-in, -webkit-box-shadow 300ms ease-in-out;
}

.btn__order:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(#FF79DA, #9356DC);
  -webkit-box-shadow: 0em 0.2em 0.4em #666666;
          box-shadow: 0em 0.2em 0.4em #666666;
}

@media all and (min-width: 900px) {
  .hero__img {
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .menu__info {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2em 0 0 0;
  }
  .menu__category {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }
  .menu__meals {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    width: 30%;
    margin: 0;
  }
  .menu__item__title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.footer {
  background-color: #353535;
  color: white;
  padding: 1em;
}

.footer p {
  margin: 0;
}

.footer__ul {
  padding: 0 2em;
}

.footer__li {
  cursor: pointer;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.5em;
}

.footer__li a {
  color: inherit;
  text-decoration: none;
}

.footer__li__icon {
  margin-right: 1em;
}

.footer__li .fa-hands-helping {
  width: 0.8em;
}

.footer_logo {
  margin-top: 0.5em;
  margin-left: 2em;
  fill: white;
}

.footer_logo svg {
  width: 7em;
}

@media all and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__li {
    padding-right: 1em;
    margin: 0;
  }
  .footer .footer_logo {
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */